:root {
  --branco: #FFFFFF; /* Nomeando a cor */
  --preto: #000000;
  --botao: #6598D2;
  --caixas: #4F6C8C;
  --fundo: #D1EAFF;
  --cinza-escuro: #333333;
  --cinza-medio: #888888;
  --azul-escuro: #0a1449;
  --azul-claro: #8ad7da;
  --sombra-padrao: rgba(0, 0, 0, 0.6);
  --sombra-forte: rgba(0, 0, 0, 0.8);
  --sombra-leve: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--fundo);
  color: var(--branco);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}